<!-- Inherits from base layout -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to The Slackware Project</h1>
    <div class="home-content">
        
        <h2>About the Project</h2>
        <p>Welcome to our bioinformatics analysis platform, designed to provide insights into genetic variations across diverse populations. Our platform offers an intuitive interface for querying genetic data and receiving analysis from different populations in addition to being able to perform SNP analysis with queries based on SNP IDs, gene names, or genomic coordinates.</p>
        
        <h2>Data Background</h2>
        <p>The genetic data powering our analysis is derived from the 1000 Genomes Project, encompassing a vast array of genetic variations from individuals across various geographical locations and ethnic backgrounds. This rich dataset includes information on millions of SNPs, providing a detailed genetic landscape of human diversity. Clinical data was obtained from the ClinVar database.</p>
        
        <h2>How It Works</h2>
        <ol>
            <li><strong>Population Analysis:</strong> Choose specific populations or superpopulations and receive cluster and admixture analysis for your chosen populations.</li>
            <li><strong>SNP Analysis:</strong> Retrieve sample allele and genotype frequencies as well as relevant clinical information for SNPs of interest by selecting either: a list with their IDs, a region defined by genomic coordinates or a list with gene names. Your population selection will be included in this analysis, if multiple populations are selected, a matrix of pairwise population differentiation will be produced.</li>
            <li><strong>Analyse and Discover:</strong> Submit your queries to retrieve your data. You can view the results directly on our platform.</li>
        </ol>
        
    </div>
{% endblock %}